mixin header-spec(data)
  .header-spec&attributes(attributes)
    .header-spec__list
      .header-spec__item
        .header-spec__label компания
        .header-spec__value Coca Cola
      .header-spec__item
        .header-spec__label Ваш менеджер
        .header-spec__value
          a(href="#").header-spec__link Владимир Стахеев
      .header-spec__item.header-spec__item_right
        .header-spec__label телефон
        .header-spec__value +7 (919) 388-11-78
