mixin header-line(data)
  header.header-line&attributes(attributes)
    .header-line__holder
      h1.header-line__title Клиентская база
      .header-line__panel
        a(href="ajax/calc_start.html").button.js-popup Добавить клиента
