html {
  @include rem-baseline;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  height: 100%;

  &.t-popup {
    overflow: hidden;
  }
}

body {
  font-family: 'NeoSansCyr', 'Arial', 'Helvetica', sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: $text-color;
  background: #fff;
  height: 100%;
  @include rem(font-size, 14px);

  .t-popup & {
    overflow: hidden;
  }

  .t-login-admin & {
    background: #6d7786;
  }
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

