html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-size: 100%;
  height: 100%;
}

body {
  font-family: $circe;
  line-height: 1.4;
  font-weight: 400;
  color: $text-color;
  height: 100%;
  font-size: 14px;
  overflow-y: scroll;

  &.t-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow:hidden;
  }
}

.main {
  flex: 1 0 auto;
}

::selection {
  background: #f9a73d;
  text-shadow: none;
}
