// base color vars
$gray-color: #ececec;
$red-color: #f4324c;
$blue-color: #c8f2ff;

// semantic color vars
$text-color: #393939;

// typography vars
$base-font-size: 14px;
$circe: 'Circe', 'Arial', 'Helvetica', sans-serif;

// media queries vars
$mq-breakpoints: (
  mobile:  320px,
  tablet: 640px,
  desktop:  1024px,
  wide:    1280px,

  desktopAd: 810px,
  mobileLandscape: 480px
);
